.element-section {
  border-top: 2px solid #F47E5C;
}
.element-section:last-child{
	border-bottom: 2px solid #F47E5C;
	margin-bottom: 30px;
}
	.element-section-item .element-title{
		margin: 15px 0px 10px 0px;
	}
	.element-section-item > form{
		margin-bottom: 12px;
	}
	.element-section-item .element-description {
    height: 104px;
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
	}
	.item-inline > div, .item-inline > input, .item-inline > button{
		display: inline-block;
	}
		.item-inline > .product-price{
			font-size: 14px;
		}
		.item-inline > input{
			width: 20%;
		}
		.item-inline > button{
			padding: 4px 6px;
			background-color: #f47e5c;
			border: transparent;
			float: right;
		}